@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-blue {
    background: linear-gradient(to bottom right, #00cafc, #0056e2);
  }

  .bg-gradient-dark-blue {
    background: linear-gradient(
      to bottom right,
      #002c6d,
      #000b29,
      #001140,
      #001e4d
    );
  }
}

body {
  background: linear-gradient(
    to bottom right,
    #00122e,
    #000b29,
    #001140,
    #001e4d
  );
  height: 100vh;
}